body {
    grid-row: inherit;
    overflow-x: hidden;
}

header {
    position: relative;
    z-index: 10;
    width: 100%;
    background: linear-gradient(100.05deg, #008539 36.77%, #209C55 69.63%);
}

img {
    width: 100%;
}

.body-content {
    background-color: #fff;
    z-index: 1;
    position: relative;
    top: -20px;
}

.container {
    width: 90%;
    display: block;
    border: 2px solid magenta;
}

.navbar {
    padding: 20px 0;
}

.navbar-brand {
    font-weight: 800;
    text-transform: normal;
    font-size: 2em;
    color: #fff !important;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #2626267e;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #2626267e;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 5px 15px;
}

.banner {
    position: relative;
    /* background-color: #168652; */
    min-height: 750px;
    background-size: cover;
    display: flex;
    text-align: left;
    background-position: left;
    /* padding: 148px 0 100px; */
}

.Bbutton {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    width: 307px;
    height: 56px;
    left: 73px;
    top: 590px;
    /* Orange */
    background: #F2994A;
    border-radius: 5px;
    color: white;
}

.btnD1 {
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
}

.banner-content {
    padding-top: 90px;
    display: flex;
}

.desc {
    position: relative;
    width: 632px !important;
    height: 170px !important;
    left: auto;
    top: auto;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 1.9em;
    line-height: 100%;
    /* or 85px */
    text-align: left;
    color: #FAFAFA;
}

.title {
    position: relative;
    width: 632px !important;
    height: 170px !important;
    left: auto;
    top: auto;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    /* or 85px */
    text-align: left;
    color: #FAFAFA;
}

.btnD1:hover {
    color: #fff;
    text-decoration: none;
}

.content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

.content-area {
    width: 100%;
    padding-top: 282px;
    padding-bottom: 282px;
    /* padding-left: 75px; */
    height: auto;
    display: flex;
    position: relative;
    /* background: rgb(255, 0, 0); */
}

.content-img {
    width: 295px;
}

.content-img img {
    width: fit-content;
}

.content-text {
    padding-left: 90px;
}

.content-text h1 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    line-height: 75px;
}

.content-text p {
    font-size: 1.7vw;
}

.download-area {
    padding-top: 50px;
    display: flex;
}

.download-area img {
    padding: 20px;
    cursor: pointer;
}

.red-tittle {
    color: #008539;
}

footer {
    position: absolute;
    /* bottom: 0; */
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    background: linear-gradient(100.05deg, #008539 36.77%, #209C55 69.63%);
}

.menu-footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu-footer ul {
    display: grid;
    list-style: none;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu-footer a {
    text-align: center;
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 44px;
}

.brand {
    width: 207px;
    height: 63px;
}

@media (max-width: 1040px) {
    .banner-content img {
        display: none;
    }
    .content {
        grid-template-columns: 100%;
    }
    .content-img {
        width: 100%;
        justify-content: center;
    }
    img.content-img {
        width: fit-content;
    }
    .content-text {
        padding: 0;
        text-align: center;
    }
    .content-text h1 {
        font-size: 4.05vw;
    }
    .content-text br {
        display: none;
    }
}

@media(max-width: 600px) {
    body {
        font-size: 10px;
    }
}